@page "/"
@using RetroVHS.Shared.DTOs.Movies
@inject IMovieClient MovieClient
@inject NavigationManager Navigation

<PageTitle>RetroVHS</PageTitle>

<div class="movie-section">
    <h2 class="section-title">🎬 Utvalda filmer</h2>

    @if (isLoading)
    {
        <p style="color: #888;">Laddar filmer...</p>
    }
    else if (movies.Count == 0)
    {
        <p style="color: #888;">Inga filmer hittades.</p>
    }
    else
    {
        <div class="movie-grid">
            @foreach (var movie in movies)
            {
                <MovieCard Movie="movie" OnMovieSelected="GoToMovie" />
            }
        </div>
    }
</div>

@code {
    private List<MovieListDto> movies = [];
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        movies = await MovieClient.GetFeaturedMoviesAsync();
        isLoading = false;
    }

    private void GoToMovie(MovieListDto movie)
    {
        Navigation.NavigateTo($"/movie/{movie.Id}");
    }
}
